<a href="#">Add classroom</a>
<h5>List classroom</h5>
{% for s in tabClassroom %}
    id: {{ s.id }}
    name:{{ s.name }}
    nbr_student:{{ s.nbrStudent }}
    <a href="#">Update</a>
    <a href="#">Delete</a>
    <br>
{% endfor %}